@import './variables.scss';
@import './helpers.scss';

body,
html{
  height: 100%;
  width: 100%;
  margin: 0;
  padding:0;
  background: $dark;
  color: $green;
}

a {
  color: $green;
}

#app {
  height: 100%;
  width: 100%;
  display: flex;
}

canvas {
  @media screen and (max-width:960px){
    display: none;
  }
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  margin: 0;
  padding:0;
}

.terminal {
  text-wrap: wrap;
  word-break: break-all;
  font-family: 'Courier New', monospace;
  color: $green; /* Classic green terminal color */
  background-color: $dark;
  width: fit-content;
  font-size: 2rem;
  @media screen and (max-width:960px) {
    font-size: 1.5rem;
  }
}

.blink {
  animation: blink-animation 1s steps(2, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.contact {
  width: 100%;
  border: 1px solid $green;
  & td {
    border: 1px solid $green;
    padding: 0.5rem;
  }
}
